@import 'application';

@import 'linernotes_dark/palette';
@import 'mfc/mastodonFlat';
@import 'mfc/variables.scss';
@import 'linernotes_dark/overrides';

@import 'mods/display_breakname';
@import 'mods/display_fullname';
@import 'mods/display_browserfont';
@import 'mods/display_circleavatar';
@import 'mods/display_collapsedinteractions';
@import 'mods/display_fadedinteractions';
@import 'mods/display_transparentmedia';
@import 'mods/layout_1600px';
@import 'mods/layout_elefriend';
@import 'mods/layout_gettingstarted';
@import 'mods/layout_searchheight';
@import 'mods/layout_widercolumns';
@import 'mods/layout_mobile_bottombar';